 <div class="user-details">
  <h1> Developer Stuffs</h1>
</div>

  <div class="user">
    
    <div class="tech">
      <h2>Programmming Language</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
    
    </div>
    
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <p>asdf</p>
    </div>

</div>


<div class="user-details">
  <h1> Life </h1>
</div>

  <div class="user">
    
    <div class="tech">
      <h2>Trek Guide</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
    
     
    </div>
    
    <div class="tech">
      <h2>President of Leo Club of Bkt GoldenGate</h2>
      <i class="devicon-git-plain"></i>
      <p>asdf</p>
    </div>
        <div class="tech">
      <h2>Manchester United Fan</h2>
      <i class="devicon-git-plain"></i>
      <p>asdf</p>
    </div>


</div>
