 <div class="user-details">
  <h1> Learnings</h1>
</div>

<div class="user">

  <div class="tech">
    <h2>Programmming Language</h2>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-python-plain colored"></i>

    
  </div>

  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-apache-line colored"></i>

  </div>

</div>


<div class="user-details">
  <h1> Me, </h1>
</div>

<div class="user">

  <div class="tech">
    <h2>Trek Guide</h2>
        <img width="128" height="128" src="{{ "/assets/img/Visit-Nepal-2020-Logo.jpg"}}"/> 


    </div>

  <div class="tech">
    <h2>President, Leo Club of Bhaktapur GoldenGate</h2>
<img  width="128" height="128" src="/assets/img/logo_leo.png" />  
  </div>

  <div class="tech">

    <h2>Manchester United Fan</h2>
    <img  width="128" height="128" src="{{ "/assets/img/utd.png" | prepend: site.baseurl }}"/>  

  </div>


</div>
<div class="user">

  <div class="tech">
    <h2>1</h2>
    
    <img  width="128" height="128" src="{{ "/assets/img/utd.png" | prepend: site.baseurl }}"/>  

  </div>

  <div class="tech">
    <h2>2</h2>
    <img width="128" height="128" src="{{ "/assets/img/utd.png" | prepend: site.baseurl }}"/>  
   
  </div>
</div>
